/*BACKOFFICE*/
/*GENERAL*/
/*Login*/
.login-backoffice{
    background-image: url(../img/fondo-backoffice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0e0d18;

}
/*menu*/
.menu-backoffice{
    width: 100%;
    font-size:18px;
    text-align: left;
    
}
.menu-backoffice a{
    color:#807e98;
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;

}
.menu-backoffice a.current{
    color:#FFFFFF;
    background: #493dd7;
}
.menu-backoffice a:hover{
    color: #FFFFFF;
    background: #5746ff;
}
.menu-backoffice-user{
    position:absolute;
    left:0px;
    width:160px;
    bottom:20px;
}
.admin-user{
    /*background: #030112;*/
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.1);

}
.admin-user .name{
    font-size: 16px;
    font-weight: bold;
    color:#807e98;
    display: inline-block;
}
.admin-user .disconnect{
    width: auto;
    color: #FFF;
    font-size: 20px;
    background:#493dd7;
    border-radius:10px;
    padding: 5px;
    height: 34px;
    line-height: 28px;
    float: right;
    position: relative;
    top: 4px;

}

/*Menu Secundario*/
.menu-secundario-backoffice{
    left:160px;
    padding: 0 20px 0 0;
    font-size: 16px;
    position: fixed;
    top:0px;
    display: flex;
    align-items: stretch;
    background:#343150;
    right:0;
    min-height: 70px;
    z-index: 10;
    font-weight: normal;
}
.menu-secundario-backoffice a:hover{
    background: #5746ff;
}
.menu-secundario-backoffice .current{
    background: #493dd7;
}
.menu-secundario-backoffice a{
    padding:0 14px!important;
}

/*Flags*/
.flag{
    position: relative;
    top:3px;
    float:right;
    width: 26px;
    height: 26px; 
}
.flag-spain{
    background: url(../img/icons/Country-flags/spain.svg) no-repeat; 
}
.pais{
    border-bottom: 1px solid rgba(255,255,255,.1);
    width: 100%;
    height:30px;
}

/*TABLAS*/
.contenedor-tabla table tr td{padding:30px;}
#tabla_filter{margin-bottom:30px;}
#tabla_wrapper input,
#tabla2_wrapper input{
    padding:5px;
    border-radius:10px;
    box-shadow:0px 0px 0px 1px rgba(128,126,152,.3);
}
#tabla_wrapper select,
#tabla2_wrapper select{
    padding:5px;
    border-radius:10px;
    box-shadow:0px 0px 0px 1px rgba(128,126,152,.3);
}
#tabla_wrapper img,
#tabla2_wrapper img{
    border-radius:10px;
    margin: 0 auto;
    max-width:60px;
}
#tabla_wrapper tr td,
#tabla2_wrapper tr td{
    border-top: 1px solid rgba(0,0,0,.1)!important;
    padding:20px 10px;
    text-align: center;
    color: #453f64;
}
#tabla_wrapper tr td a,
#tabla2_wrapper tr td a{
    color:#5746ff;
}

#tabla2_filter,
#tabla2_length,
#tabla_filter,
#tabla_length{
    margin-bottom: 30px;
}