
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icono-facebook:before{
    position: relative;
    content: '';
    background: url("../img/icons/icono-facebook.svg") center no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom:2px;
}
.icono-twitter:before{
    position: relative;
    content: '';
    background: url("../img/icons/icono-twitter.svg") center no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom:2px;
}

  /*Tamaños*/
.i-xs{
    font-size:0.60rem;
}
.i-sm{
    font-size:0.75rem;
}
.i-ssm{
    font-size:0.90rem;
}
.i-m{
    font-size:1rem;
}
.i-r{
    font-size:1.3rem;
}
.i-x{
    font-size:1.8rem;
}
/*Forms*/
.icon-input{
    position: absolute;
    right: 12px;
    height:100%;
    top:0;
    display: flex;
    align-items: center;
}
.icon-filtro{
	position: absolute;
    left: 12px;
    color: #272536;
    display: flex;
    align-items: center;
    height:100%;
}
.input-error .icon-input{
    height: -moz-calc(100% - 24px);
    height: -webkit-calc(100% - 24px);
    height: calc(100% - 24px);
}

.icon-arrow-down-1.left:before,
.icon-arrow-down-1.right:before{
    /*text-shadow: 0px 1px 10px rgba(0,0,0,.6);*/
}
.icon-arrow-down-1.left.no:before,
.icon-arrow-down-1.right.no:before{
    text-shadow: none;
}
.icon-arrow-down-1.right:before{
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
}
.icon-arrow-down-1.left:before{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
}
.icon-tarjeta-credito{
    background: url("../img/icons/icon-credit-card.svg") center no-repeat;
}

.icon-home-2-fill:before {
    content: "\e900";
  }
  .icon-huella-fill:before {
    content: "\e901";
  }
  .icon-protectoras-fill:before {
    content: "\e902";
  }
  .icon-user-fill:before {
    content: "\e903";
  }
  .icon-email-action-check:before {
    content: "\e904";
  }
  .icon-email-action-unread:before {
    content: "\e905";
  }
  .icon-filtrar:before {
    content: "\e906";
  }
  .icon-gift-box:before {
    content: "\e907";
  }
  .icon-graph-stats-ascend:before {
    content: "\e908";
  }
  .icon-home-2:before {
    content: "\e909";
  }
  .icon-huella:before {
    content: "\e90a";
  }
  .icon-information-circle:before {
    content: "\e90b";
  }
  .icon-lock-6:before {
    content: "\e90c";
  }
  .icon-logout:before {
    content: "\e90d";
  }
  .icon-love-it:before {
    content: "\e90e";
  }
  .icon-love-it-2:before {
    content: "\e90f";
  }
  .icon-love-it-hand-give:before {
    content: "\e910";
  }
  .icon-love-shield:before {
    content: "\e911";
  }
  .icon-messages-bubble-typing-1:before {
    content: "\e912";
  }
  .icon-move-up:before {
    content: "\e913";
  }
  .icon-navigation-menu-vertical:before {
    content: "\e914";
  }
  .icon-network-1:before {
    content: "\e915";
  }
  .icon-official-building-3:before {
    content: "\e916";
  }
  .icon-pencil-write:before {
    content: "\e917";
  }
  .icon-pets-paw-ribbon:before {
    content: "\e918";
  }
  .icon-public-service-police-van:before {
    content: "\e919";
  }
  .icon-question-circle:before {
    content: "\e91a";
  }
  .icon-rating-star-circle:before {
    content: "\e91b";
  }
  .icon-remove-bold:before {
    content: "\e91c";
  }
  .icon-road-sign-warning:before {
    content: "\e91d";
  }
  .icon-sexo:before {
    content: "\e91e";
  }
  .icon-share:before {
    content: "\e91f";
  }
  .icon-single-neutral-actions-check-1:before {
    content: "\e920";
  }
  .icon-single-neutral-actions-subtract:before {
    content: "\e921";
  }
  .icon-size:before {
    content: "\e922";
  }
  .icon-social-instagram:before {
    content: "\e923";
  }
  .icon-social-media-facebook-1:before {
    content: "\e924";
  }
  .icon-social-media-twitter:before {
    content: "\e925";
  }
  .icon-style-two-pin-marker:before {
    content: "\e926";
  }
  .icon-task-list-text-1:before {
    content: "\e927";
  }
  .icon-user:before {
    content: "\e928";
  }
  .icon-view-1:before {
    content: "\e929";
  }
  .icon-view-off:before {
    content: "\e92a";
  }
  .icon-arrow-down-1:before {
    content: "\e92b";
  }
  .icon-arrow-right:before {
    content: "\e92c";
  }
  .icon-bin:before {
    content: "\e92d";
  }
  .icon-check:before {
    content: "\e92e";
  }
  .icon-circle:before {
    content: "\e92f";
  }
  .icon-close:before {
    content: "\e930";
  }
  .icon-cog:before {
    content: "\e931";
  }
  .icon-common-file-text:before {
    content: "\e932";
  }
  .icon-data-transfer-vertical:before {
    content: "\e933";
  }
  .icon-delete-1:before {
    content: "\e934";
  }
  .icon-delete-1-fill:before {
    content: "\e935";
  }
  .icon-dog-allowed:before {
    content: "\e936";
  }
  .icon-dog-poop:before {
    content: "\e937";
  }
  .icon-edad:before {
    content: "\e938";
  }
  